doctype html
html(ng-app="AngularApp")
  head
    title Angular JS Training
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/scripts/lib/bootstrap.min.css')
    script(src="/scripts/lib/jquery.min.js")
    script(src="/scripts/lib/angular.min.js")
    script(src="/scripts/lib/angular-route.min.js")
    script(src="/scripts/lib/ui-bootstrap-tpls-1.3.3.min.js") 
    script(src="app.js")
  body
    block content
    script(src="/modules/Assignment1/Assignment1.module.js")
    script(src="/modules/Assignment1/Assignment1.service.js")
    script(src="/modules/Assignment1/Assignment1.controller.js")
    script(src="/modules/Assignment2/Assignment2.module.js")
    script(src="/modules/Assignment2/Assignment2.controller.js")
    script(src="/scripts/controllers/filterPageControl.js")
    script(src="/scripts/controllers/validationPageControl.js")