/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.DragArea{
color:black;
font-size:24px;
text-align:center;
height:100px;
margin:auto;
width:100%;
background-color:aquamarine;
    opacity: 0.7;
    border: dotted 1px black;
	outline: none;
}
#FileOutput{
  text-align:justify;
}
